<head>
  <meta charset="utf-8">

  <title>
    {% if page.title %}
      {{ page.title }} | {{ site.lab_name }}
    {% else %}
      {{ site.lab_name }}
    {% endif %}
  </title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% if page.permalink == '/contact-content-source/' %}
  <meta name="robots" content="noindex, nofollow">
  {% endif %}

  {% if site.description %}
  <meta name="description" content="{{ site.description }}">
  {% endif %}

  <!-- Main stylesheet -->
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">

  <!-- Favicon -->
  <link rel="icon" href="{{ "/assets/img/favicon/favicon.ico" | relative_url }}">
  <link rel="icon" type="image/png" sizes="16x16"
        href="{{ "/assets/img/favicon/favicon-16x16.png" | relative_url }}">
  <link rel="icon" type="image/png" sizes="32x32"
        href="{{ "/assets/img/favicon/favicon-32x32.png" | relative_url }}">

  <!-- Apple Touch Icon -->
  <link rel="apple-touch-icon"
        href="{{ "/assets/img/favicon/apple-touch-icon.png" | relative_url }}">

  <!-- Web App Manifest -->
  <link rel="manifest"
        href="{{ "/assets/img/favicon/site.webmanifest" | relative_url }}">

</head>